<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Modify by</span>
    <a
      b-slate-link
      href="" target="_blank"
    >
      ColaMilk
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="" target="_blank"
    >
      version 2.0
    </a>
  </p>
</footer>
